* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  margin-top: 100px;
  display: grid;
  grid-template-rows: repeat(6, 115px);
  grid-template-columns: repeat(4, 105px);
  border: 1px solid gray;
  border-radius: 5px;
}

.view {
  grid-column: span 4;
  justify-self: end;
  align-self: center;
  font-size: 48px;
}

.item{
  font-size: 32px; 
  background-color: rgb(201, 213, 230);
  border: 1px solid rgb(154, 168, 189);
  border-collapse: collapse;
  margin: -1px;
  border-radius: 5px;
}

.enter {
  background-color: rgb(192, 204, 221);
}

.click{
  background-color: rgb(169, 180, 197);
}

.zero {
  grid-column: span 2;
}